		<!-- Footer -->
		<div class="Footer">
			<div style="height:75px;"></div>
			<footer class="flex">
				<a class="flex-1" href="index.html">
					<i class="icon-footer icon-footer1"></i>
					<div>Home</div>
				</a>
				<a href="product.html" class="flex-1">
					<i class="icon-footer icon-footer2"></i>
					<div>Products</div>
				</a>
				<a href="cart.html" class="flex-1">
					<i class="icon-footer icon-footer3"></i>
					<div>Shopping</div>
				</a>
				<a href="user.html" class="flex-1">
					<i class="icon-footer icon-footer4"></i>
					<div>Member</div>
				</a>
			</footer>
		</div>