<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="author" content="深圳卓越迈创(http://www.szmynet.com/)" />
		<meta name = "viewport" content ="initial-scale=1.0,maximum-scale=1,user-scalable=no"><!-- 控制缩放比例 -->
		<meta name="format-detection" content="telphone=no, email=no"/><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
		<meta http-equiv="Cache-Control" content="no-siteapp" /><!--  不让百度转码 -->
		<title>{$page_title}</title>
		<meta name="Keywords" content="{$keywords}" />
		<meta name="Description" content="{$description}" />
		<link rel="shortcut icon" href="../gsp_favicon.ico" />
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="templates/css/reset.css?v=a12">
		<link rel="stylesheet" type="text/css" href="templates/css/base.css?v=a12">
		<link rel="stylesheet" type="text/css" href="templates/css/layout.css?v=a11">
		<!-- js -->
		<script type="text/javascript" src="templates/js/jquery.min.js?v=a10"></script>
		<script type="text/javascript" src="templates/js/custom.js?v=a10"></script>
		<!-- banner -->
		<link rel="stylesheet" type="text/css" href="templates/js/swiper/swiper.min.css">
		<script type="text/javascript" src="templates/js/swiper/swiper.jquery.min.js"></script>
	</head>
	<body>
		
		<!-- Header -->
		<div class="Header">
			<div style="height:50px;"></div>
			<header>
				<div class="page-header">
					<a href="user.html" class="page-return"></a>
					<div class="page-name">Register</div>
				</div>
			</header>
		</div>
		
		
		<!-- Contain -->
		<div>
			 <form action="user.html" method="post">
			<div class="ui-box">
				<div class="ui-block">
					<label>ID name: </label>
					{$user_info.user_name}
				</div>
				<div class="ui-block">
					<label>Mobile No.: </label>
					<input type="text" placeholder="Mobile No." name="mobile_phone" value="{$user_info.mobile_phone}" class="ui-text"/>
				</div>
				<div class="ui-block">
					<label>E-mail: </label>
					<input type="text" placeholder="E-mail"  name="email" value="{$user_info.email}" class="ui-text"/>
				</div>
				<div class="ui-block">
					<label>Gender: </label>
                                	<input type="radio" name="sex" class="ui-radio {if $user_info.sex eq 0}cur{/if}" value="0" {if $user_info.sex eq 0}checked="checked"{/if}/>&nbsp;Man&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                	<input type="radio" name="sex" class="ui-radio {if $user_info.sex eq 1}cur{/if}" value="1" {if $user_info.sex eq 1}checked="checked"{/if}/>&nbsp;Woman
				</div>
				<div class="ui-block">
					<label>birthday：</label>
					{html_select_date field_order=YMD prefix=birthday start_year=-60 end_year=+1 display_days=true month_format=%m day_value_format=%02d time=$user_info.birthday}
				</div>
				<div class="ui-block">
					<label></label>
					<input type="submit" value="Determine modification" class="ui-btn"/>
					<input type="hidden" name="act" value="act_edit_profile"/>
				</div>
			</div>
			</form>
		</div>
{include file="footer.html"}
	</body>
</html>