<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="author" content="深圳卓越迈创(http://www.szmynet.com/)" />
		<meta name = "viewport" content ="initial-scale=1.0,maximum-scale=1,user-scalable=no"><!-- 控制缩放比例 -->
		<meta name="format-detection" content="telphone=no, email=no"/><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
		<meta http-equiv="Cache-Control" content="no-siteapp" /><!--  不让百度转码 -->
		<title>{$page_title}</title>
		<meta name="Keywords" content="{$keywords}" />
		<meta name="Description" content="{$description}" />
		<link rel="shortcut icon" href="../gsp_favicon.ico" />
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="templates/css/reset.css?v=a12">
		<link rel="stylesheet" type="text/css" href="templates/css/base.css?v=a12">
		<link rel="stylesheet" type="text/css" href="templates/css/layout.css?v=a11">
		<!-- js -->
		<script type="text/javascript" src="templates/js/jquery.min.js?v=a10"></script>
		<script type="text/javascript" src="templates/js/custom.js?v=a10"></script>
		<!-- banner -->
		<link rel="stylesheet" type="text/css" href="templates/js/swiper/swiper.min.css">
		<script type="text/javascript" src="templates/js/swiper/swiper.jquery.min.js"></script>
		
	</head>
	<body>
		
		<!-- Header -->
		<div class="Header">
			<div style="height:50px;"></div>
			<header>
				<div class="page-header">
					<a href="user.html" class="page-return"></a>
					<div class="page-name">My Order</div>
				</div>
			</header>
		</div>
		
		
		<!-- Contain -->
		<div>
			{foreach from=$orders item=v}
			<div class="uOrder-block">
				<div class="uOrder-num">
					Order number: <a href="user.html?act=order_detail&order_id={$v.order_id}"><em>{$v.order_sn}</em></a>
				</div>
				{foreach from=$v.list item="vo"}
				<div class="sc-d-b">
					<div class="sc-img">
						<a href="pro_view-{$vo.goods_id}.html">
							<img src="{$vo.goods_img}" alt="{$vo.goods_name}">
						</a>
					</div>
					<div class="sc-info">
						<!-- 显示框 -->
						<a class="sc-i-show">
							<span class="sc-i-name">{$vo.goods_name}</span>
						</a>
						<div class="pro-price">
							<span class="price-cur">￥{$vo.goods_price} <em class="sc-num">{$vo.goods_number}</em></span><!-- 现价 -->
							<span class="price-cost">￥{$vo.market_price}</span><!-- 原价 -->
						</div>
					</div>
				</div>
				{/foreach}
				{if $vo.pay_status eq 2}
				<div class="uo-state">
					<span>Paid</span> 
				</div>
				{else}
				<div class="uo-state fail">
					<span>Not paid</span>
				</div>
				{/if}
			</div>
			{foreachelse}
			<div class="uOrder-block" style="text-align:center;line-height:60px;">No order</div>
			{/foreach}
			{if $orders}
			<div class="page-box">
				<a href="user.html?act=order_list&page={$prev_page}" class="page-btn pb-prev">Previous</a>
				<a href="user.html?act=order_list&page={$next_page}" class="page-btn pb-next">Next</a>
			</div>	
			
			{/if}
		</div>
		
		
{include file="footer.html"}
		
	</body>
</html>