<!DOCTYPE html>
<html lang="zh-cmn-Hans">
	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
		<meta name="author" content="深圳卓越迈创(http://www.szmynet.com/)" />
		<meta name = "viewport" content ="initial-scale=1.0,maximum-scale=1,user-scalable=no"><!-- 控制缩放比例 -->
		<meta name="format-detection" content="telphone=no, email=no"/><!-- 忽略页面中的数字识别为电话，忽略email识别 -->
		<meta http-equiv="Cache-Control" content="no-siteapp" /><!--  不让百度转码 -->
		<title>{$page_title}</title>
		<meta name="Keywords" content="{$keywords}" />
		<meta name="Description" content="{$description}" />
		<link rel="shortcut icon" href="../gsp_favicon.ico" />
		<!-- css -->
		<link rel="stylesheet" type="text/css" href="templates/css/reset.css?v=a12">
		<link rel="stylesheet" type="text/css" href="templates/css/base.css?v=a12">
		<link rel="stylesheet" type="text/css" href="templates/css/layout.css?v=a11">
		<!-- js -->
		<script type="text/javascript" src="templates/js/jquery.min.js?v=a10"></script>
		<script type="text/javascript" src="templates/js/custom.js?v=a10"></script>
		<!-- banner -->
		<link rel="stylesheet" type="text/css" href="templates/js/swiper/swiper.min.css">
		<script type="text/javascript" src="templates/js/swiper/swiper.jquery.min.js"></script>
	</head>
	<body>
		
		<!-- Header -->
		<div class="Header">
			<div style="height:50px;"></div>
			<header>
				<div class="page-header">
					<a href="user.html" class="page-return"></a>
					<div class="page-name">Change password</div>
				</div>
			</header>
		</div>
		
		
		<!-- Contain -->
		<div>
			<form action="user.html" method="post" onsubmit="return checkpwd(this)">
			<div class="ui-box">
				<div class="ui-block">
					<label>Old Password: </label>
					<input type="password" placeholder="Old Password" class="ui-text" name="old_password"/>
				</div>
				<div class="ui-block">
					<label>New Password: </label>
					<input type="password" placeholder="New Password" class="ui-text"  name="new_password"/>
				</div>
				<div class="ui-block">
					<label>Confirm Password: </label>
					<input type="password" placeholder="Confirm Password" class="ui-text" name="comfirm_password"/>
				</div>
				<div class="ui-block">
					<label></label>
					<input type="submit" value="Determine modification" class="ui-btn"/>
					<input type="hidden" value="act_edit_password" name="act">
				</div>
			</div>
			</form>
		</div>
		
		
	{include file="footer.html"}
	</body>
</html>
<script>
function checkpwd(obj){
  var old_password=obj.old_password.value;
  var new_password=obj.new_password.value;
  var comfirm_password=obj.comfirm_password.value;
  if(old_password.length<6 || old_password.length>12){
	   alert('The password length should be 6-12 characters！');
	   return false;
   }
  if(new_password.length<6 || new_password.length>12){
	   alert('The password length should be 6-12 characters！');
	   return false;
  }	
  if(new_password != comfirm_password){
	   alert('Before and after the input password is not consistent！');
	   return false;
 }	
} 
</script>  